/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-May-2017, 12:51:56
    Author     : Mantas
*/

/* Basis for the game, the circle */
#main-circle {
    width: 600px;
    height: 600px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    background: rgb(155, 155, 155);
    margin: auto;
    position: relative;
    top: 30px;
}

/* Black border, used for buttons, quarter circles */
.black-border {
    border: solid;
    border-color: black;
}

/* Class that represents the quarter of a circle */
.quarter-circle {
    position: absolute;
    width:40%;
    height:40%;
    transition:background-color 0.2s ease-in-out;
}

/* Green quarter */
#green {
    top: 30px;
    left: 30px;
    background-color:rgb(0, 51, 0);
    border-radius:100% 0 0 0;
    cursor: pointer; 
}

/* Red quarter */
#red {
    top: 30px;
    right: 30px;
    background-color:rgb(204, 0, 0);
    border-radius:0 100% 0 0 ;
    cursor: pointer;
}

/* Yellow quarter */
#yellow {
    bottom: 30px;
    left:30px; 
    background-color:rgb(255, 204, 0);
    border-radius:0 0 0 100%;
    cursor: pointer;
}

/* Blue quarter */
#blue {
    bottom:30px;
    right:30px;
    background-color:rgb(0, 0, 102);
    border-radius:0 0 100% 0 ;
    cursor: pointer;
}

/* Cutout represents the center part, where buttons, title and screen
are displayed */
#cutout {
    width:53.3%;
    height:50%;
    margin: auto;
    border-radius:150px;
    /*border-width: 10px;*/
    position: relative;
    top: 300px;
    transform: translateY(-50%);
    background: rgb(155, 155, 155);
    padding-top: 30px;
}

/* Title basically shows the title of the game (which, obviously, is Simon) */
#title {
    position: relative;
    bottom: 25px;
    width: 62.5%;
    font-family: Sans Serif;
    color: black;
    font-size: 58px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

/* Start button - used to start the game */
#start-button {
    background-color: yellow;
    color: black;
    border-radius: 50%;
    font-weight: bold;
    margin: auto;
}

/* Cancel button - used to cancel one letter from the string given by the player */
#cancel {
    background-color: red;
    color: black;
    border-radius: 30%;
    font-weight: bold;
    margin: auto;

}

/* Accept button - used to accept the final string from the player */
#accept {
    background-color: green;
    color: black;
    border-radius: 30%;
    font-weight: bold;
    margin: auto;

}

/* Class common for all the buttons */
.buttons {
    text-align: center;
    padding-top: 5px;
    width: 90%;
    margin: auto;
    position: relative;
    bottom: 40px;
}

/* Represents screen of the game where all the information is displayed */
#screen {
    position: relative;
    bottom: 40px;
    width: 75%;
    height: 40%;
    background-color: white;
    font-size: 20px;
/*    font-family: 'Segment7Standard'; */
    font-family: 'Courier';
    font-weight: bold; 
    font-style: italic;
    color: black;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    margin-top: 5%;
    direction: rtl;
}