/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-May-2017, 12:51:56
    Author     : Mantas
*/

#main-circle {
  width: 600px;
  height: 600px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  background: rgb(155, 155, 155);
  margin: auto;
  position: relative;
}


.quarter-circle {
  position: absolute;
  width:250px;
  height:250px;
  transition:background-color 0.2s ease-in-out;
}

#quarter1 {
	top: 30px;
	left: 30px;
	background-color:rgb(0, 51, 0);
	border-radius:100% 0 0 0;
}

#quarter2 {
	top: 30px;
	right:30px;
	background-color:rgb(204, 0, 0);
	border-radius:0 100% 0 0 ;
}
#quarter3 {
	bottom:30px;
	left:30px;
	background-color:rgb(255, 204, 0);
	border-radius:0 0 0 100%;
}
#quarter4 {
	bottom:30px;
	right:30px;
	background-color:rgb(0, 0, 102);
	border-radius:0 0 100% 0 ;
}

.cutout {
  width:300px;
  height:300px;
  margin: auto;
  border-radius:150px;
  border-width: 10px;
  position: relative;
  top: 300px;
  transform: translateY(-50%);
  background: rgb(155, 155, 155);
}

#quarter1:hover {
  background-color: rgb(0, 153, 51);
}

#quarter2:hover {
  background-color: rgb(255, 0, 0);
}

#quarter3:hover {
  background-color: rgb(255, 255, 0);
}

#quarter4:hover {
  background-color: rgb(51, 102, 204);
}

.title {
  font-family: Sans Serif;
  font-size: 58px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

#start-button {
    position: relative;
    margin-left: 100px;
    position: relative;
    background-color: red;
    color: black;
    border-radius: 50%;
    font-weight: bold;
}

#counter {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: black;
    font-size: 40px;
    color: red;
    margin-top: 15px;
    margin-left: 50px;
    text-align: center;
    vertical-align: middle;
}
